SERVER_PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=database
REDIS_HOST=localhost
REDIS_PORT=6379
LTIAAS_SUBDOMAIN=your
LTIAAS_KEY=''
GITHUB_URL=https://api.github.com
GITHUB_TOKEN=''
PUBLIC_API_URL=https://your.url
JAVA_TO_UML_URL=localhost